@page
@model Lab_12.Pages.Pharmacy.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PharmacyM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PharmacyM.Id" class="control-label"></label>
                <input asp-for="PharmacyM.Id" class="form-control" />
                <span asp-validation-for="PharmacyM.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmacyM.PharmacistId" class="control-label"></label>
                <input asp-for="PharmacyM.PharmacistId" class="form-control" />
                <span asp-validation-for="PharmacyM.PharmacistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmacyM.SupplyId" class="control-label"></label>
                <input asp-for="PharmacyM.SupplyId" class="form-control" />
                <span asp-validation-for="PharmacyM.SupplyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmacyM.Address" class="control-label"></label>
                <input asp-for="PharmacyM.Address" class="form-control" />
                <span asp-validation-for="PharmacyM.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmacyM.Doxod" class="control-label"></label>
                <input asp-for="PharmacyM.Doxod" class="form-control" />
                <span asp-validation-for="PharmacyM.Doxod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
