@page
@model Lab_12.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Supplies/Index">List Supplies</a>
</p>
<p>
    <a asp-page="Pharmacy/Index">List Pharmacies</a>
</p>
<p>
    <a asp-page="Pharmacist/Index">List Pharmacists</a>
</p>


</table>
